---
BasedOnStyle: Google
Language: Cpp

# 缩进设置
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false

# 指针对齐
DerivePointerAlignment: false
PointerAlignment: Right

# 对齐
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# 括号
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  BeforeElse: false
  IndentBraces: false

# 空格
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# 换行
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
MaxEmptyLinesToKeep: 2

# 其他
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
...